.changewindow2 {
    -fx-background-color: BLUE;
    -fx-pref-height: 24px;
    -fx-max-height: 24px;
    -fx-pref-width: 75px;
    -fx-border-color: black;
    -fx-border-width: .7px;
    -fx-background-image: url('../../images/play.png');
    -fx-background-repeat: stretch;
    -fx-background-position: center;
    -fx-background-size: 20%;
}

.choose {
    -fx-background-color: #ff1200;
    -fx-pref-height: 24px;
    -fx-max-height: 24px;
    -fx-pref-width: 75px;
    -fx-border-color: black;
    -fx-border-width: .7px;
    -fx-background-image: url('../../images/play.png');
    -fx-background-repeat: stretch;
    -fx-background-position: center;
    -fx-background-size: 20%;
}
