.changeWindow {
    -fx-background-color: #969696;
    -fx-pref-height: 24px;
    -fx-max-height: 24px;
    -fx-pref-width: 75px;
    -fx-background-repeat: stretch;
    -fx-background-position: center;
    -fx-background-size: 50%;
    -fx-background-radius: 0, 0;
}

.changeWindow:hover {
    -fx-text-decoration: none;
    -fx-background-color: #737373;
}

.ground {
    -fx-background-color: #afafaf;
}

.text {
    -fx-font-family: Helvetica, sans-serif;
    -fx-font-weight: lighter;
    -fx-font-size: 12px;
    -fx-text-fill: BLACK;
    -fx-text-align: center;
    -fx-padding: 10, 0 , 10 , 0;
}

.timeslider {
    -fx-min-width: 250px;
    -fx-max-width: 250px;
}

.time {
    -fx-text-fill: #000000;
    -fx-text-alignment: center;
}

.stopbutton {
    -fx-background-color: #afafaf;
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
    -fx-background-image: url('/images/stop.png');
    -fx-background-repeat: stretch;
    -fx-background-position: center;
    -fx-background-size: 90%;
    -fx-background-radius: 5, 5;
    -fx-border-color: #464646;
    -fx-border-radius: 5;

}

.stopbutton:hover {
    -fx-text-decoration: none;
    -fx-background-color: #969696;
}

.playbutton {
    -fx-background-color: #afafaf;
    -fx-pref-height: 75px;
    -fx-pref-width: 75px;
    -fx-background-image: url('/images/play.png');
    -fx-background-repeat: stretch;
    -fx-background-position: center;
    -fx-background-size: 60%;
    -fx-background-radius: 50, 50;
    -fx-border-color: #464646;
    -fx-border-radius: 50;
}

.playbutton:hover {
    -fx-text-decoration: none;
    -fx-background-color: #969696;
}


.pauseButton {
    -fx-background-color: #afafaf;
    -fx-pref-height: 75px;
    -fx-pref-width: 75px;
    -fx-background-image: url('/images/play.png');
    -fx-background-repeat: stretch;
    -fx-background-position: center;
    -fx-background-size: 60%;
    -fx-background-radius: 50, 50;
    -fx-border-color: #464646;
    -fx-border-radius: 50;
}

.pauseButton:hover {
    -fx-text-decoration: none;
    -fx-background-color: #969696;
}

.skipright {
    -fx-background-color: #afafaf;
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
    -fx-background-image: url('/images/skipright.png');
    -fx-background-repeat: stretch;
    -fx-background-position: center;
    -fx-background-size: 30%;
    -fx-background-radius: 50, 50;
    -fx-border-color: #464646;
    -fx-border-radius: 50;
}

.skipright:hover {
    -fx-text-decoration: none;
    -fx-background-color: #969696;
}


.skipleft {
    -fx-background-color: #afafaf;
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
    -fx-background-image: url('/images/skipleft.png');
    -fx-background-repeat: stretch;
    -fx-background-position: center;
    -fx-background-size: 30%;
    -fx-background-radius: 50, 50;
    -fx-border-color: #464646;
    -fx-border-radius: 50;
}

.skipleft:hover {
    -fx-text-decoration: none;
    -fx-background-color: #969696;
}

.hbox {
    -fx-spacing: 15px;
    -fx-padding: 20px;
}
