/*
---------- GAME ---------------------------------------------------------------------------------------------------
*/
.pane {
    -fx-max-height: 500;
    -fx-max-width: 500;
}

.pacman {
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
    -fx-background-repeat: stretch;
    -fx-background-position: center;
    -fx-background-size: 50%;
}

.buttonVBox {
    -fx-font-family: "High Tower Text";
    -fx-font-size: 40px;
    -fx-text-fill: #800000;
}

