/*
---------- ALLGEMEIN ---------------------------------------------------------------------------------------------------
*/
.background {
    -fx-background-color: #cdccc3;
}

.playListButton {
    -fx-pref-height: 30px;
    -fx-pref-width: 50px;
    -fx-background-image: url("/gui/images/playlist.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center;
    -fx-background-size: 70%;
    -fx-border-width: 0.3;
    -fx-border-color: #464646;
    -fx-padding: 10, 10, 10, 10;
}

.playListButton:hover {
    -fx-text-decoration: none;
    -fx-background-color: #cdcdcd;
}

.playerButton {
    -fx-pref-height: 30px;
    -fx-pref-width: 50px;
    -fx-background-image: url("/gui/images/player.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center;
    -fx-background-size: 70%;
    -fx-border-width: 0.3;
    -fx-border-color: #464646;
    -fx-padding: 10, 10, 10, 10;
}

.mp3playerButton:hover {
    -fx-text-decoration: none;
    -fx-background-color: #cdcdcd;
}

.gameButton {
    -fx-pref-height: 30px;
    -fx-pref-width: 50px;
    -fx-background-image: url("/gui/images/game.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center;
    -fx-background-size: 70%;
    -fx-border-width: 0.3;
    -fx-border-color: #464646;
    -fx-padding: 10, 10, 10, 10;
}

.gameButton:hover {
    -fx-text-decoration: none;
    -fx-background-color: #cdcdcd;
}

.settingButton {
    -fx-pref-height: 30px;
    -fx-pref-width: 50px;
    -fx-background-image: url("/gui/images/settings.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center;
    -fx-background-size: 70%;
    -fx-border-width: 0.3;
    -fx-border-color: #464646;
    -fx-padding: 10, 10, 10, 10;
}

.settingButton:hover {
    -fx-text-decoration: none;
    -fx-background-color: #cdcdcd;
}

/*
---------- MP3PLAYER ---------------------------------------------------------------------------------------------------
*/

.playButton {
    -fx-pref-height: 75px;
    -fx-pref-width: 75px;
    -fx-background-image: url('/gui/images/play.png');
    -fx-background-repeat: stretch;
    -fx-background-position: center;
    -fx-background-size: 60%;
    -fx-background-radius: 50, 50;
    -fx-border-color: #464646;
    -fx-border-radius: 50;
    -fx-border-width: 0.3;
    -fx-padding: 10, 10, 10, 10;
}

.playButton:hover {
    -fx-text-decoration: none;
    -fx-background-color: #cdcdcd;
}

.pauseButton {
    -fx-pref-height: 75px;
    -fx-pref-width: 75px;
    -fx-background-image: url('/gui/images/pause.png');
    -fx-background-repeat: stretch;
    -fx-background-position: center;
    -fx-background-size: 60%;
    -fx-border-width: 0.3;
    -fx-background-radius: 50, 50;
    -fx-border-color: #464646;
    -fx-border-radius: 50;
}

.pauseButton:hover {
    -fx-text-decoration: none;
    -fx-background-color: #cdcdcd;
}

.stopbutton {
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
    -fx-background-image: url('/gui/images/stop.png');
    -fx-background-repeat: stretch;
    -fx-background-position: center;
    -fx-background-size: 90%;
    -fx-border-width: 0.3;
    -fx-background-radius: 5, 5;
    -fx-border-color: #464646;
    -fx-border-radius: 5;

}

.stopbutton:hover {
    -fx-text-decoration: none;
    -fx-background-color: #cdcdcd;
}

.skipright {
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
    -fx-background-image: url('/gui/images/skipright.png');
    -fx-background-repeat: stretch;
    -fx-background-position: center;
    -fx-background-size: 30%;
    -fx-border-width: 0.3;
    -fx-background-radius: 50, 50;
    -fx-border-color: #464646;
    -fx-border-radius: 50;
}

.skipright:hover {
    -fx-text-decoration: none;
    -fx-background-color: #cdcdcd;
}

.skipleft {
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
    -fx-background-image: url('/gui/images/skipleft.png');
    -fx-background-repeat: stretch;
    -fx-background-position: center;
    -fx-background-size: 30%;
    -fx-border-width: 0.3;
    -fx-background-radius: 50, 50;
    -fx-border-color: #464646;
    -fx-border-radius: 50;
}

.skipleft:hover {
    -fx-text-decoration: none;
    -fx-background-color: #cdcdcd;
}

.shuffle {
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
    -fx-background-image: url('/gui/images/shuffle.png');
    -fx-background-repeat: stretch;
    -fx-background-position: center;
    -fx-background-size: 40%;
    -fx-border-width: 0.3;
    -fx-background-radius: 50, 50;
    -fx-border-color: #464646;
    -fx-border-radius: 50;
}

.shuffle:hover {
    -fx-text-decoration: none;
    -fx-background-color: #cdcdcd;
}

.repeat {
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
    -fx-background-image: url('/gui/images/repeat.png');
    -fx-background-repeat: stretch;
    -fx-background-position: center;
    -fx-background-size: 40%;
    -fx-border-width: 0.3;
    -fx-background-radius: 50, 50;
    -fx-border-color: #464646;
    -fx-border-radius: 50;
}

.repeat:hover {
    -fx-text-decoration: none;
    -fx-background-color: #cdcdcd;
}

.loop {
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
    -fx-background-image: url('/gui/images/loop.png');
    -fx-background-repeat: stretch;
    -fx-background-position: center;
    -fx-background-size: 40%;
    -fx-border-width: 0.3;
    -fx-background-radius: 50, 50;
    -fx-border-color: #464646;
    -fx-border-radius: 50;
}

.loop:hover {
    -fx-text-decoration: none;
    -fx-background-color: #9a9a9a;
}

.loop:selected {
    -fx-text-decoration: none;
    -fx-background-color: #9a9a9a;
}

.text {
    -fx-font-family: Helvetica, sans-serif;
    -fx-font-size: 16px;
    -fx-text-fill: BLACK;
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-padding: 20,0,0,20;
}

.timeslider {
    -fx-min-width: 250px;
    -fx-max-width: 250px;
    -fx-padding: 25px;
}

.volumeslider {
    -fx-min-width: 250px;
    -fx-max-width: 250px;
    -fx-padding: 20, 0 , 20 , 0;
}

.imgview {
    -fx-padding: 50, 50, 50 , 50;
}

/*
---------- PLAYLIST ---------------------------------------------------------------------------------------------------
*/

.playlistPlayButton {
    -fx-pref-height: 20px;
    -fx-pref-width: 100px;
    -fx-background-image: url("/gui/images/play.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center;
    -fx-background-size: 60%;
    -fx-border-width: 0.3;
    -fx-background-radius: 2, 2;
    -fx-border-color: #464646;
    -fx-border-radius: 2;
    -fx-padding: 3em, 1em, 1em, 1em;
}

.playBSZwei:hover {
    -fx-text-decoration: none;
    -fx-background-color: #cdcdcd;
}

.loadPlaylist {
    -fx-pref-height: 20px;
    -fx-pref-width: 100px;
    -fx-background-repeat: stretch;
    -fx-background-position: center;
    -fx-background-size: 60%;
    -fx-border-width: 0.3;
    -fx-background-radius: 2, 2;
    -fx-border-color: #464646;
    -fx-border-radius: 2;
    -fx-padding: 1em, 1em, 1em, 1em;
}

.loadPlaylist:hover {
    -fx-text-decoration: none;
    -fx-background-color: #cdcdcd;
}

.delete {
    -fx-pref-height: 20px;
    -fx-pref-width: 100px;
    -fx-background-repeat: stretch;
    -fx-background-position: center;
    -fx-background-size: 60%;
    -fx-border-width: 0.3;
    -fx-background-radius: 2, 2;
    -fx-border-color: #464646;
    -fx-border-radius: 2;
    -fx-padding: 1em, 1em, 1em, 1em;
}

.delete:hover {
    -fx-text-decoration: none;
    -fx-background-color: #cdcdcd;
}

/*
---------- GAME ---------------------------------------------------------------------------------------------------
*/
.pane {
    -fx-background-color: green;
    -fx-max-height: 500;
    -fx-max-width: 500;
}