/*
---------- ALLGEMEIN ---------------------------------------------------------------------------------------------------
*/
.background {
    -fx-background-color: #ababab;
}

.playListButton {
    -fx-pref-height: 30px;
    -fx-pref-width: 50px;
    -fx-background-image: url("/gui/images/playlist.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center;
    -fx-background-size: 70%;
    -fx-border-width: 0.3;
    -fx-border-color: #464646;
    -fx-padding: 10, 10, 10, 10;
}

.playListButton:hover {
    -fx-text-decoration: none;
    -fx-background-color: #cdcdcd;
}

.playerButton {
    -fx-pref-height: 30px;
    -fx-pref-width: 50px;
    -fx-background-image: url("/gui/images/player.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center;
    -fx-background-size: 70%;
    -fx-border-width: 0.3;
    -fx-border-color: #464646;
    -fx-padding: 10, 10, 10, 10;
}

.mp3playerButton:hover {
    -fx-text-decoration: none;
    -fx-background-color: #cdcdcd;
}

.gameButton {
    -fx-pref-height: 30px;
    -fx-pref-width: 50px;
    -fx-background-image: url("/gui/images/game.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center;
    -fx-background-size: 70%;
    -fx-border-width: 0.3;
    -fx-border-color: #464646;
    -fx-padding: 10, 10, 10, 10;
}

.gameButton:hover {
    -fx-text-decoration: none;
    -fx-background-color: #cdcdcd;
}

.settingButton {
    -fx-pref-height: 30px;
    -fx-pref-width: 50px;
    -fx-background-image: url("/gui/images/settings.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center;
    -fx-background-size: 70%;
    -fx-border-width: 0.3;
    -fx-border-color: #464646;
    -fx-padding: 10, 10, 10, 10;
}

.settingButton:hover {
    -fx-text-decoration: none;
    -fx-background-color: #cdcdcd;
}

.topHBox{
    -fx-background-color: #cdcdcd;
}





